{% extends 'main.html' %}


{% block content %}

{% load static %}

<div class="content">
    <div class="left_container">
        <div class="filter_container">
            <div class="accordion_header">Filter <i class="fa-solid fa-filter-circle-dollar"></i></div>
            <button class="accordion"><i class="fa-solid fa-money-bill-transfer"></i> Einzahlungsmethoden</button>
            <div class="panel">

                    {% for deposit_method in all_deposit_methods %}
                        <div class="filter_row">
                            <input type="checkbox" class="filter_checkbox" value="{{ deposit_method }}">
                            {{ deposit_method }}<br>
                        </div>
                    {% endfor %}

            </div>

            <button class="accordion"><i class="fa-solid fa-dice"></i> Spieleanbieter</button>
            <div class="panel">

                    {% for provider in all_providers %}
                        <div class="filter_row">
                        <input type="checkbox" class="filter_checkbox" value="{{ provider }}">
                        {{ provider }}<br>
                        </div>
                    {% endfor %}

            </div>

            <button class="accordion"><i class="fa-solid fa-gift"></i> Bonusarten</button>
            <div class="panel">

                    {% for bonus_type in all_bonus_types %}
                        <div class="filter_row">
                        <input type="checkbox" class="filter_checkbox" value="{{ bonus_type }}">
                        {{ bonus_type }}<br>
                        </div>
                    {% endfor %}

            </div>

        </div>
    </div>
    <div class="right_container">

        <div id="sort_criteria" class="sort_button_container">
            <!-- Sortieren nach Name ausgeblendet
            <button class="sort_button" data-criteria=".sort_casino_name">Name</button>
            -->
            <button class="sort_button" data-criteria=".sort_casino_created">New</button>
            <button class="sort_button" data-criteria=".sort_casino_bonus">Best Bonus</button>
            <button class="sort_button" data-criteria=".sort_casino_bonus_max">Max Bonus</button>
            <button class="sort_button" data-criteria=".sort_casino_bonus_wager">Best Wager</button>
        </div>

        <div class="casino_list">
            {% for casino in casinos %}
            <div class="casino_list_item">
                <div class="casino_list_item_icon" title="{{ casino.name }}"

                     {% if casino.icon.url != None %}
                     style="background-image: url('{{ casino.icon.url }}'),
                                              linear-gradient(to left,
                                              rgb(var(--container_background_dark_mode)) 10%,
                                              rgba(var(--container_background_dark_mode),0) 100%),
                                              url('{{ casino.icon.url }}');">
                    {% else %}
                    >
                        <span class="casino_name">{{ casino.name }}</span>
                    {% endif %}
                    {% if casino.rank <= 3 %}
                        {% if casino.rank == 1 %}
                        <span class="rank rank_first"><i class="fa-solid fa-award"></i></span>
                        {% endif %}
                        {% if casino.rank == 2 %}
                        <span class="rank rank_second"><i class="fa-solid fa-award"></i></span>
                        {% endif %}
                        {% if casino.rank == 3 %}
                        <span class="rank rank_third"><i class="fa-solid fa-award"></i></span>
                        {% endif %}
                    {% endif %}
                    {% if casino.bonus_code != None %}
                    <span class="ribbon ribbon_code">CODE: {{ casino.bonus_code }}</span>
                    {% elif casino.is_new %}
                    <span class="ribbon ribbon_new">NEW</span>
                    {% endif %}
                </div>
                <div class="casino_list_item_tabs">
                    <div class="tabbed">
                        <input type="radio" id="tab_{{casino.name}}-1" name="css-tabs_{{casino.name}}" checked>
                        <input type="radio" id="tab_{{casino.name}}-2" name="css-tabs_{{casino.name}}">
                        <input type="radio" id="tab_{{casino.name}}-3" name="css-tabs_{{casino.name}}">
                        <input type="radio" id="tab_{{casino.name}}-4" name="css-tabs_{{casino.name}}">

                        <ul class="tabs">
                            <li class="tab"><label for="tab_{{casino.name}}-1">Overview</label></li>
                            <li class="tab"><label for="tab_{{casino.name}}-2">Bonus Calculator</label></li>
                            <li class="tab"><label for="tab_{{casino.name}}-3">Deposit</label></li>
                            <li class="tab"><label for="tab_{{casino.name}}-4">Provider</label></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab_content_3_cols">
                                <div class="tab_content_3_col">
                                    <span class="casino_bonus"><i class="fa-solid fa-gift"></i>
                                        {{casino.bonus}}%
                                        {% if casino.bonus_type == None %}
                                        {% else %}
                                        {{casino.bonus_type}}
                                        {% endif %}
                                        bonus
                                    </span>

                                    <span class="casino_bonus"><i class="fa-solid fa-coins"></i>
                                        {{casino.bonus_max}}€ max bonus</span>
                                    {% if casino.free_spins == None %}
                                    {% else %}
                                    <span class="casino_bonus"><i class="fa-solid fa-gamepad"></i>
                                        {{casino.free_spins}} FS</span>
                                    {% endif %}
                                    <span class="casino_bonus"><i class="fa-solid fa-arrows-rotate"></i>
                                        {{casino.bonus_wager}}x wager</span>
                                </div>
                                <div class="tab_content_3_col">
                                    {% for method in casino.sorted_deposit_methods.all|slice:":3" %}
                                    <img class="list_icon" alt="{{method.name}}" title="{{method.name}}" src="{{method.icon.url}}">
                                    {% endfor %}
                                </div>
                                <div class="tab_content_3_col">
                                    {% for provider in casino.sorted_providers.all|slice:":3" %}
                                    <img class="list_icon" alt="{{provider.name}}" title="{{provider.name}}" src="{{provider.icon.url}}">
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="tab-content">
                            <div class="tab_content_4_cols">
                                <div class="tab_content_4_col">
                                    <input type="text"
                                           placeholder="Einzahlungsbetrag €"
                                           class="einzahlungsbetrag"
                                           maxlength="4"
                                           data-casino-bonus="{{ casino.bonus }}"
                                           data-casino-bonus-wager="{{ casino.bonus_wager }}"
                                           data-casino-bonus-max="{{ casino.bonus_max }}">
                                </div>
                                <div class="tab_content_4_col">
                                    <span class="gesamtguthaben"><i class="fa-solid fa-coins"></i> Guthaben</span>
                                </div>
                                <div class="tab_content_4_col">
                                    <span class="bonusguthaben"><i class="fa-solid fa-gift"></i> Bonus</span>
                                </div>
                                <div class="tab_content_4_col">
                                    <span class="wager"><i class="fa-solid fa-arrows-rotate"></i> Wager</span>
                                </div>
                            </div>
                        </div>

                        <div class="tab-content">
                            <div class="tab_content_1_cols">
                                <div class="tab_content_1_col">
                                    {% for method in casino.sorted_deposit_methods.all %}
                                    <img img class="list_icon" src="{{method.icon.url}}" title="{{method.name}}" alt="{{method.name}}">
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="tab-content">
                            <div class="tab_content_1_cols">
                                <div class="tab_content_1_col">
                                    {% for provider in casino.sorted_providers.all %}
                                    <img img class="list_icon" alt="{{ provider.name }}" title="{{provider.name}}" src="{{provider.icon.url}}">
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="casino_list_item_affiliate_link">
                    <a href="{{casino.affiliate_link}}" target="_blank">
                        <button class="button">PLAY</button>
                    </a>
                </div>
                <span class="sort_casino_name">{{casino.name}}</span>
                <span class="sort_casino_created">{{ casino.created|date:"Y-m-d H:i:s.u" }}</span>
                <span class="sort_casino_bonus">{{casino.bonus}}</span>
                <span class="sort_casino_bonus_max">{{casino.bonus_max}}</span>
                <span class="sort_casino_bonus_wager">{{casino.bonus_wager}}</span>
                <span class="filter_casino">
                    {% for provider in casino.sorted_providers.all %}{{ provider.name }}{% endfor %}
                    {% for method in casino.sorted_deposit_methods.all %}{{ method.name }}{% endfor %}
                    {{ casino.bonus_type.name }}
                </span>
            </div>

            {% endfor %}

        <script src="{% static 'js/bonus_calculator.js' %}"></script>
        <script src="{% static 'js/accordion.js' %}"></script>
        <script src="{% static 'js/casino_filter.js' %}"></script>

        </div>
    </div>
</div>

{% endblock content %}