{% load static %}

<div class="footer">
    <div class="modeswitch_container">
        <label class="modeswitch_switch">
            <input type="checkbox" class="modeswitch_input" id="modeSwitch">
            <span class="modeswitch_slider round"></span>
        </label>
    </div>
    <div class="social_footer">
        <a href="{{ social_media_links.facebook }}" target="_blank"><i class="social fa-brands fa-facebook"></i></a>
        <a href="{{ social_media_links.youtube }}" target="_blank"><i class="social fa-brands fa-youtube"></i></a>
        <a href="{{ social_media_links.twitch }}" target="_blank"><i class="social fa-brands fa-twitch"></i></a>
        <a href="{{ social_media_links.instagram }}" target="_blank"><i class="social fa-brands fa-instagram"></i></a>
        <a href="{{ social_media_links.kick }}" target="_blank"><i class="social fa-brands fa-kickstarter"></i></a>
        <a href="{{ social_media_links.dlive }}" target="_blank"><i class="social fa-solid fa-user-ninja"></i></a>
    </div>
</div>

<script src="{% static 'js/modeswitch.js' %}"></script>