{% load static %}

<div class="footer">
    <div class="modeswitch_container">
        <label class="modeswitch_switch">
            <input type="checkbox" class="modeswitch_input" id="modeSwitch">
            <span class="modeswitch_slider round"></span>
        </label>
    </div>
    <div class="social_footer">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-twitch"></i>
        <i class="fa-brands fa-kickstarter"></i>
    </div>
</div>

<script src="{% static 'js/modeswitch.js' %}"></script>