<div class="header">
    <div class="logo">
        <a href="/">
            <span class="slotalarm_logo">
                SLOT
                <span class="slotalarm_logo slotalarm_letter">A</span>
                <span class="slotalarm_logo slotalarm_letter">L</span>
                <span class="slotalarm_logo slotalarm_letter">A</span>
                <span class="slotalarm_logo slotalarm_letter">R</span>
                <span class="slotalarm_logo slotalarm_letter">M</span>
            </span>
            <br>
            <img src="/media/images/design/header_logo.webp" height="100px">
        </a>
        <br>
        <i class="social fa-brands fa-facebook"></i>
        <i class="social fa-brands fa-youtube"></i>
        <i class="social fa-brands fa-twitch"></i>
        <i class="social fa-brands fa-kickstarter"></i>
    </div>
</div>