<div class="header">
    <div class="logo">
        <a href="/">
            <span class="slotalarm_logo">
                SLOT
                <span class="slotalarm_logo slotalarm_letter">A</span>
                <span class="slotalarm_logo slotalarm_letter">L</span>
                <span class="slotalarm_logo slotalarm_letter">A</span>
                <span class="slotalarm_logo slotalarm_letter">R</span>
                <span class="slotalarm_logo slotalarm_letter">M</span>
            </span>
            <br>
            <img src="/media/images/design/header_logo.webp" height="100px">
        </a>
        <br>
        <a href="{{ social_media_links.facebook }}" target="_blank"><i class="social fa-brands fa-facebook"></i></a>
        <a href="{{ social_media_links.youtube }}" target="_blank"><i class="social fa-brands fa-youtube"></i></a>
        <a href="{{ social_media_links.twitch }}" target="_blank"><i class="social fa-brands fa-twitch"></i></a>
        <a href="{{ social_media_links.instagram }}" target="_blank"><i class="social fa-brands fa-instagram"></i></a>
        <a href="{{ social_media_links.kick }}" target="_blank"><i class="social fa-brands fa-kickstarter"></i></a>
        <a href="{{ social_media_links.dlive }}" target="_blank"><i class="social fa-solid fa-user-ninja"></i></a>
    </div>
</div>