<div class="header">
    <div class="logo">
        <a href="/">
            <span class="slotalarm_logo">
                SLOT
                <span class="slotalarm_logo slotalarm_letter">A</span>
                <span class="slotalarm_logo slotalarm_letter">L</span>
                <span class="slotalarm_logo slotalarm_letter">A</span>
                <span class="slotalarm_logo slotalarm_letter">R</span>
                <span class="slotalarm_logo slotalarm_letter">M</span>
            </span>
        </a>
    </div>
    <div class="social_header">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-twitch"></i>
        <i class="fa-brands fa-kickstarter"></i>
    </div>
</div>